@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* DEFAULT STARTINGS STYLE */
* {
  font-family: 'JetBrains Mono', monospace;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;

}


/* LEFT SIDE */
.logo {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 20vh;
  gap: 1vw;
  padding: 10px 0;
  justify-content: center;
  align-items: center;

}

.logo-text {
  font-size: x-large;
  font-weight: bold;
}

.logo img {
  height: 10vh;
}

.logo p {
  color: white;
}

.picture-container {
  background-image: url(/joel-filipe-aYkDMrRo580-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40vw;
}


/*RIGHT SIDE*/
.form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 60vw;
  background-color: white;

}



.paddingleft {
  padding-left: 2vw;
}

.lorum {
  color: black;
  width: 90%;
  font-size: 1.2rem;
}

.spaced-text {
  padding-top: 20px;
  padding-bottom: 20px;
}

.signup {
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);

  display: flex;
  flex-flow: row wrap;
  gap: 25px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.signup-title {
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
}

.inputs {
  display: flex;
  flex-flow: column wrap;
  width: 45%;
  font-size: 1.0rem;
  text-transform: uppercase;

}

input {
  border: 2px solid silver;

}

input:focus {
  outline: none;
  border: 2px solid darkcyan;
}

button {
  background-color: white;
  color: darkcyan;
  font-weight: 700;
  font-size: 1.1rem;
  border: 2px solid darkcyan;
  border-radius: 4px;
  padding: 10px 40px;
  margin: 40px 0;
}

button:hover {
  background-color: darkcyan;
  color: white;
}

button:active {
  transform: scale(1.05);
}

.login {
  font-size: 1.2rem;
  display: flex;
  gap: 5px;
}

a {
  text-decoration: none;
  color: darkcyan;
  font-weight: 700px;
}

a:hover {
  color: turquoise;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  font-size: larger;
  font-weight: bold;
  width: 100%;
  height: 5%;
  color: black;

}

img {
  height: 20px;
  width: auto;

}

/*MOBILE IMPLEMENTATION*/

@media screen and (max-width:869px) {
  .main-container {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .picture-container {
    width: 100vw;
    height: 15vh;
    display: flex;
    background-size: 100vw;
  }

  .logo {
    width: 100vw;
    position: static;
    gap: 10px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 30px;
  }

  .paddingleft {
    padding: 10px 20px;
  }

  .spaced-text {
    padding: 20px 0;
    margin: 0;

  }

  .signup {
    flex-flow: column nowrap;
    align-items: center;
  }

  .inputs {
    text-align: left;
    width: auto;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
  }

  input {
    font-size: 0.8rem;
    height: 1.5rem;
    width: 70vw;
  }

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }

  footer {
    display: none;
  }
}