* {
  font-family: monospace;
  margin: 0px;
  padding: 0px;
}

body {

  min-height: 100vh;
  background: black
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30px;
  color: black;
  background-color: whitesmoke;
}