/* DEFAULT STARTINGS STYLE */
* {
  font-family: monospace;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.main-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-flow: row wrap;

}


/* LEFT SIDE */
.logo {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 20vh;
  gap: 1vw;
  padding: 10px 0;
  justify-content: center;
  align-items: center;

}

.logo-text {
  font-size: x-large;
  font-weight: bold;
}

.logo img {
  height: 10vh;
}

.logo p {
  color: white;
}

.picture-container {
  background-image: url(/joel-filipe-aYkDMrRo580-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40vw;
}


/*RIGHT SIDE*/
.form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 60vw;
  background-color: white;

}

.lorum {
  color: black;
}

.spaced-text {
  margin-top: 30px;
}



/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 5%;
  color: white;

}